@media (max-width: 7800px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 10000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 10000px;
        }
    }

}

@media (max-width: 3000px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 7000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 5000px;
        }
    }
}

@media (max-width: 2200px) {
    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 4000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 3600px;
        }
    }

}


@media (max-width: 1920px) {
    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 4000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 3600px;
        }
    }

}



@media (max-width: 1500px) {
    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 4300px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 4000px;
        }
    }


    .about-me {
        font-size: 100%;
        max-width: none;
        margin: 0 2% 0 2%;
    }


    .email a {
        font-size: 75%;
    }

    .footer-icon {
        margin-left: 20%;
    }

    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .project-img {
        padding: 2px;
    }

    .experience-info h1,
    .project-title h1,
    .experience-with h1 {
        font-size: 160%;
    }

    
    .js img,
    .nodejs img,
    .html5 img,
    .css img,
    .jquery img {
        width: 35px;
    }

    .ajaxjs img {
        width: 55px;
    }

}


@media (max-width: 1200px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 3600px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 3000px;
        }
    }



    .about-me {
        font-size: 100%;
        margin: 0 2% 0 2%;
    }

    .about-me p {
        margin: 2% 2% 0 2%;
    }

    .email a {
        font-size: 75%;
    }

    .footer-icon {
        margin-left: 20%;
    }

    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .project-img {
        padding: 2px;
    }

    .experience-info h1,
    .project-title h1,
    .experience-with h1 {
        font-size: 160%;
    }

    
    .js img,
    .nodejs img,
    .html5 img,
    .css img,
    .jquery img {
        width: 30px;
    }

    .ajaxjs img {
        width: 45px;
    }
}


@media (max-width: 1024px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 3000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 2600px;
        }


    }


    .mainsection-title {
        font-size: 80%;
    }

    .logo a {
        font-size: 110%;
    }

    .mainsection-gradient {
        width: 160px;
    }

    .mainsection-gradient img {
        width: 100%;
    }

    .about-me {
        font-size: 90%;
        margin: 0 2% 0 2%;
    }


    .navbar li {
        padding-left: 60px;
    }



    .freelancer-icon h1 {
        font-size: 130%;
    }

    .experience-title p {
        margin-top: 1%;
        font-size: 80%;
    }

    .freelancer {
        height: 20px;
    }

    .footer-icon {
        margin-left: 20%;
    }

    .footer-title h1 {
        font-size: 130%;
    }

    .contactimg {
        height: 25px;
    }


    .email-icon {
        height: 20px;
    }

    .email a {
        font-size: 75%;
    }

    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .project-img {
        padding: 2px;
    }

    .experience-info h1,
    .project-title h1,
    .experience-with h1 {
        font-size: 160%;
    }

    .js img,
    .nodejs img,
    .html5 img,
    .css img,
    .jquery img {
        width: 30px;
    }

    .ajaxjs img {
        width: 45px;
    }

}





@media (max-width: 767px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 3000px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 2500px;
        }
    }

    nav {
        height: 70px;
        display: flex;
        justify-content: space-between;
    }

    .top-btn {
        display: none;
    }

    .navbar a {
        display: none;
    }

    .mainsection-title {
        font-size: 50%;
    }

    .mainsection-gradient {
        width: 130px;
    }

    .mainsection-gradient img {
        width: 100%;
    }

    .about-me {
        font-size: 60%;
        margin: 0;
    }

    .buttons {
        padding: 20px 0;
        font-size: 60%;
    }

    #menu-icon {
        margin-top: 1%;
    }

    .about-me p {
        display: flex;
        max-width: 55%;
        flex-wrap: wrap;
        margin: 2% 2% 0 2%;
    }

    .btn {
        font-size: 110%;
        padding: 10px 25px;
    }


    .experience-with h1,
    .project-title h1,
    .experience-info h1 {
        font-size: 110%;
    }

    .js img,
    .nodejs img,
    .html5 img,
    .css img,
    .jquery img {
        width: 20px;
    }

    .ajaxjs img {
        width: 40px;
    }

    .project-card {
        width: auto;
    }

    .blog a {
        width: auto;
        font-size: 30%;
    }

    .card-title h1 {
        font-size: 65%;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .view-icon img {
        height: 7px;
        width: 100%;
    }

    .template {
        display: block;
        margin-top: 30px;
    }

    .freelancer-icon h1 {
        font-size: 80%;
    }

    .experience-description {
        max-width: none;
        font-size: 60%;
    }

    .experience-title p {
        margin-top: 0;
        font-size: 70%;
    }

    .freelancer {
        height: 15px;
    }

    .footer-icon {
        margin-left: 20%;
    }

    .footer-title h1 {
        font-size: 80%;
    }

    .contactimg {
        height: 15px;
    }

    .footer-description {
        max-width: none;
        font-size: 60%;
    }

    .email-icon {
        height: 15px;
    }



    .logo img {
        width: 70%;
    }

    #myButton {
        width: 30px;
        height: 30px;
        right: 10px;
    }

    #myButton.show {
        bottom: 60px;
    }

    .navbar li {
        padding-left: 20px !important;
    }

    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .project {
        padding: 35px 0 0 0;
    }


    .project-img {
        padding: 2px;
    }

    .project-img img {
        border-radius: 14px;
    }

    .project-card {
        position: relative;
        left: 25%;
        width: 50%;
        margin-top: 15px;
        border-radius: 14px;
    }

    .instagram a,
    .telegram a,
    .linkedin a,
    .github a {
        padding: 3px 8px;
    }

    .language-names {
        font-size: 7px;
        padding: 3px 7px;
        bottom: -10px;
    }
}


@media(max-width: 500px) {

    @keyframes slidein {

        0%,
        100% {
            background-position: 20% 0%;
            background-size: 2600px;
        }

        50% {
            background-position: 100% 0%;
            background-size: 2500px;
        }
    }


    .about-me p {
        max-width: 65%;
    }

    .footer-icon {
        margin-left: 15%;
    }

    .experience-title {
        margin-top: 5%;
    }


    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .card-title h1 {
        font-size: 55%;
        margin-bottom: 5px;
    }

    .project-img {
        padding: 2px;
    }

    .project-img img {
        border-radius: 12px;
    }

    .project-card {
        position: relative;
        left: 15%;
        width: 70%;
        border-radius: 12px;
    }


    .project-img img {
        border-radius: 10px;
    }

    .project-card {
        border-radius: 10px;
    }

    .experience-description p,
    .footer-description p {
        max-width: 75%;
    }

}

@media (max-width: 425px) {

    .experience-description p,
    .footer-description p {
        max-width: 80%;
    }

    .footer-icon {
        margin-left: 10%;
    }

    .experience-title {
        margin-top: 5%;
    }


    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .card-title h1 {
        font-size: 55%;
    }

    .project-img {
        padding: 2px;
    }

    .project-img img {
        border-radius: 12px;
    }

    .project-card {
        border-radius: 12px;
    }

    .email a {
        font-size: 55%;
    }


    .instagram a,
    .telegram a,
    .linkedin a,
    .github a {
        font-size: 12px;
        padding: 3px 8px;
    }

}

@media (max-width: 375px) {

    .experience-description p,
    .footer-description p {
        margin: 4% 0 0 0;
        max-width: 85%;
    }

    .footer-icon {
        margin-left: 10%;
    }

    .experience-title {
        margin-top: 5%;
    }


    .content-wrapper {
        backdrop-filter: blur(8px);
    }

    .project-img {
        padding: 1px;
    }

    .project-img img {
        border-radius: 10px;
    }

    .project-card {
        border-radius: 10px;
    }

    .card-title h1 {
        font-size: 50%;
    }
}
